asgiref
Django==4.2.27
pillow
python-decouple
razorpay
requests
sqlparse
whitenoise
python-dateutil
tzdata
certifi
charset-normalizer
idna
urllib3
xhtml2pdf[renderpm]==0.2.14
reportlab<4.0.0
gunicorn
