<section class="emptycart">
<div class="cart-empty">
    <div class="cart-empty-box">
        <div class="cart-empty-icon">
            <i class="bi bi-bag" style="font-size:56px; color:#707070;"></i>
        </div>

        <h3>Your cart is empty</h3>
        <p>Looks like you haven't added anything to your cart yet.</p>

        <a href="{% url 'products' %}" class="cart-empty-btn">
            <i class="bi bi-shop me-1"></i> Continue Shopping
        </a>
    </div>
</div>
</section>